.mi-card {
  text-align:center;
  align-items: center;
  border-radius: 20px;
}

.mi-boton{
  border-radius: 20px !important;
  line-height: 40px;
  margin-bottom: 15px !important;
  width: 120px !important; 
  background-color: #AAAAAA; 
  color: white;
}

.mi-titulo {
  font-size: 16px; 
  font-weight: 700; 
  color: #AAAAAA; 
}

.mi-cuerpo {
  font-size: 14px;
  color: #AAAAAA;
}
