<mat-dialog-content>

    <mat-card class="mi-card" style="box-shadow: none;">

        <mat-card-header>

            <mat-label class="mi-titulo" style="padding-left: 20px;">
                ¿Desea eliminar este usuario?
            </mat-label>

            <button mat-icon-button (click)="cerrar()"
                style="color: #AAAAAA; position: absolute; margin-left: 82%; margin-top: -15px;">
                <mat-icon>close</mat-icon>
            </button>

        </mat-card-header>
        <br /> <br /><br />

        <mat-card-content style="text-align: left !important; align-items: flex-start;">

            <mat-label class="mi-titulo"> Usuario: </mat-label>
            <mat-label class="mi-cuerpo">
                {{getNombre(usuario)}} <br /><br />
            </mat-label>

            <mat-label class="mi-titulo"> Identificación: </mat-label>
            <mat-label class="mi-cuerpo"> {{usuario.cedula}} <br /> <br /></mat-label>

            <mat-label class="mi-titulo"> Correo Electrónico: </mat-label>
            <mat-label class="mi-cuerpo"> {{usuario.correo_electronico}} <br /><br />
            </mat-label>

            <mat-label class="mi-titulo"> Rol: </mat-label>
            <mat-label class="mi-cuerpo"> {{usuario.rol}} <br /><br /> </mat-label>

        </mat-card-content>

        <mat-card-actions>

            <button mat-raised-button class="mi-boton" style="float: right; margin-right: 5%;"
                (click)="borrarUsuario()">Aceptar</button>

        </mat-card-actions>

    </mat-card>

</mat-dialog-content>