<app-navbar-inicio paginaActual="acerca-de"></app-navbar-inicio>
<div style="margin-top: 2%;">
    <div class="container" fxLayout="row" >
        

        <div fxFlex=3%></div>

        <div fxFlex=16% class="container-photo">
            <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" class="photo">
            <h4>Nombre Apellido Apellido</h4>
        </div>

        <div fxFlex=16% class="container-photo">
            <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" class="photo">
            <h4>Nombre Apellido Apellido</h4>
        </div>

        <div fxFlex=16% class="container-photo">
            <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" class="photo">
            <h4>Nombre Apellido Apellido</h4>
        </div>

        <mat-card class="mi-card" fxFlex=36%>
            <mat-card-content class="content" style="text-align: left !important; align-items: flex-start;">

            </mat-card-content>
        </mat-card>
        <div fxFlex=3%></div>
    </div>

    <p class="paragraph">
        Aquí se explica quiénes desarrollaron el sistema y otros datos que no salen al incio en la
        descripción. isnwein wenwfioe wnefwe wiefnwioef wonefowine woefnwoeif wiefnwoienf 
        woefnwoief wefuhwief woeifwpe weijf wieufhiw iwefnw wofhe0wme oweijfwoemf oweijf w 
        einfwe fwefn0we f iwiefnow jefn oiefw owenf owe fiownfw ior oinoef onv oi n o idf mdhbe onf.
    </p>
    
    <br /> <br />

</div>


<!--
-->