<app-navbar-inicio paginaActual="acerca-de"></app-navbar-inicio>
<div style="margin-top: 2%;">
    <div class="container" fxLayout="row">


        <div fxFlex=3%></div>

        <div fxFlex=16% class="container-photo">
            <img src="http://melanomaitcr.pythonanywhere.com/files/FotoEquipo.jpeg" width="200" class="photo">
            <h4 style="color: #AAAAAA;">Desarrolladores del sistema</h4>
        </div>

        <div fxFlex=16% class="container-photo">
            <img style="padding-top: 20%;" src="http://melanomaitcr.pythonanywhere.com/files/Praesidia.png" width="200"
                class="photo">
            <h4 style="padding-top: 13%;color: #AAAAAA;">Logo del sistema</h4>
        </div>

        <div fxFlex=16% class="container-photo">
            <img style="padding-top: 15%;" src="http://melanomaitcr.pythonanywhere.com/files/FotoSistema.PNG"
                width="200" class="photo">
            <h4 style="padding-top: 10%;color: #AAAAAA;">Pantalla del sistema</h4>
        </div>

        <mat-card class="mi-card" style="box-shadow: none;" fxFlex=36%>

            <mat-card-header style="justify-content: center;">

                <mat-label
                    style="margin-left: -20px; padding-top: 30px; font-size: 32px; font-weight: 700; color: #4F4E4E; z-index: 0;">
                    Acerca de
                </mat-label>

            </mat-card-header>
            <mat-card-content class="content"
                style="padding-left: 20px; padding-right: 20px; text-align: left !important; align-items: flex-start;">
                <br /><br />
                <mat-label style="font-size: 16px; color: #4F4E4E;">
                    Descripción de la plataforma
                </mat-label>

                <mat-card
                    style="background-color: #DEDEDE; margin-top: 15px;box-shadow: none; height: 60px; border-radius: 20px;">
                    <mat-card-content>
                        <mat-label style="color: #AAAAAA">
                            Plataforma para la gestión de citas y expedientes médicos, la cual posee un asistente para
                            la predicción de cáncer de piel de tipo melanoma mediante el uso de imágenes.
                        </mat-label>
                    </mat-card-content>
                </mat-card>

                <br />
                <mat-label style="font-size: 16px; color: #4F4E4E;">
                    Contexto del sistema
                </mat-label>

                <mat-card
                    style="background-color: #DEDEDE; margin-top: 15px;box-shadow: none; height: 60px; border-radius: 20px;">
                    <mat-card-content>
                        <mat-label style="color: #AAAAAA">
                            El sistema surge dada la falta de un medio digital que integrara la herramienta de
                            predicción
                            de cáncer de piel tipo melanoma con gestión y procesamiento de datos
                            médicos
                            . </mat-label>
                    </mat-card-content>
                </mat-card>

                <br />
                <mat-label style="font-size: 16px; color: #4F4E4E;">
                    Información de desarrollo
                </mat-label>

                <mat-card
                    style="background-color: #DEDEDE; margin-top: 15px;box-shadow: none; height: 60px; border-radius: 20px;">
                    <mat-card-content>
                        <mat-label style="color: #AAAAAA">
                            El sistema fue desarrollado en un contexto académico por el equipo conformado por
                            Jimmy Mok, Felipe Pacheco y Jeremy Tencio debido a la solicitud del profesor Luis Alexánder
                            Calvo.
                        </mat-label>
                    </mat-card-content>
                </mat-card>

            </mat-card-content>
        </mat-card>
        <div fxFlex=3%></div>
    </div>

    <div class="paragraph">

        <div style="width: 45%;">
            <mat-label style="font-size: 18px;">
                Nuestro sistema gestor de citas y expendientes médicos y asistente de predicción de cáncer de piel tipo
                melanoma
                mediante imágenes
            </mat-label>

        </div>
        <div style="width: 35%; margin-left: 5%;">
            <ul style="list-style-type: none; padding: 0; font-size: 16px;">
                <li style=" margin-bottom: 5px;"> • Visite la página web para gestionar sus información y actividades
                    médicas</li>
                <li style=" margin-bottom: 5px;"> • Haga uso de las herramientas de inteligencia artificial para
                    predecir el padecimiento</li>
                <li> • Descargue la aplicación móvil para revisar tus citas y enviar archivos a tu médico</li>
            </ul>
        </div>
    </div>

</div>


<!--
-->