<app-navbar-inicio paginaActual="acerca-de"></app-navbar-inicio>
<img src="http://melanomaitcr.pythonanywhere.com/files/Nosotros_Mancha.svg" width="1000"
    style="position: absolute; top: -50px; left: 0px; z-index: -1;">

<div style="margin-top: 2%;">
    <div class="container" fxLayout="row">


        <div fxFlex=5%></div>

        <div fxFlex=12% class="container-photo">
            <img src="http://melanomaitcr.pythonanywhere.com/files/Nosotros_Jimmy.png" width="100"
                style="padding-top: 55px;">
            <h4 class="textoImagen" style="padding-left: 10px;">Jimmy Mok</h4>
        </div>

        <div fxFlex=12% class="container-photo">
            <img src="http://melanomaitcr.pythonanywhere.com/files/Nosotros_Felipe.png" width="100"
                style="padding-top: 55px;">
            <h4 class="textoImagen">Felipe Pacheco</h4>
        </div>

        <div fxFlex=12% class="container-photo">
            <img src="http://melanomaitcr.pythonanywhere.com/files/Nosotros_Jeremy.png" width="100"
                style="padding-top: 55px;">
            <h4 class="textoImagen">Jeremy Tencio</h4>
        </div>

        <div fxFlex=12% class="container-photo">
            <img src="http://melanomaitcr.pythonanywhere.com/files/Nosotros_Monserrat.png" width="100"
                style="padding-top: 55px;">
            <h4 class="textoImagen" style="margin-left: -20px;">Monserrat Sanabria</h4>
        </div>

        <div fxFlex=12%></div>
        <div fxFlex=30%>
            <img width="400" style="padding-top: 50px;"
                src="http://melanomaitcr.pythonanywhere.com/files/Prodermis.svg">
        </div>
        <div fxFlex=3%></div>
    </div>

    <div style="position: absolute; bottom: 150px; left: 75px; width: 45%;">
        <mat-label style="color: #036262; font-weight: 700; font-size: 16px;"> Nuestro sistema gestor de citas,
            expedientes médicos y
            asistente de
            predicción de cáncer de piel
            tipo melanoma mediante imágenes</mat-label>
        <br><br>
        <mat-label style="color: #036262;  font-size: 16px;"> Esta aplicación es desarrollada dentro del contexto del
            proyecto de investigación denominado "Análisis de imágenes y cuantificación del color para el diagnóstico
            del cáncer de piel tipo melanoma en Costa Rica". A la vez se agradece al Programa de Investigación
            Multidisciplinar eScience y al Grupo de Investigación PARMA, por su colaboración para llevar adelante el
            proyecto. </mat-label>
    </div>


    <img src="http://melanomaitcr.pythonanywhere.com/files/Nosotros_Doctores.svg" width="500"
        style="position: absolute; bottom: 0; right: 0;">

    <img src="http://melanomaitcr.pythonanywhere.com/files/Nosotros_PARMA.png" height="50"
        style="position: absolute; bottom: 35px; left: 25px;">

    <img src="http://melanomaitcr.pythonanywhere.com/files/Nosotros_eScience.jpg" height="50"
        style="position: absolute; bottom: 35px; left: 125px;">

    <img src="http://melanomaitcr.pythonanywhere.com/files/Nosotros_TEC.png" height="50"
        style="position: absolute; bottom: 35px; left: 200px;">
</div>