
@import '~@angular/material/theming';

.title{
    padding-top: 18px; 
    flex: 1 1 80%; 
    font-size: 30px;
    font-weight: 600;
    margin-left: 80px;
    color: #036262;
}

.photo{
  width: 300px;
  margin-left:min(1vw, 10px);
  margin: 20px;
  border-radius: 20px !important;
}
.botton-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}
.mi-boton{
    border-radius: 20px !important;
    line-height: 40px;
    width: 190px !important; 
    background-color: #036262; 
    color: white;
}

  
.container-perfil {
  width: 100%;
  display: flex;
  margin-top: 2%;
  align-items: center;
}

.mi-carta {
  width: 25%;
  height: 290px;
  margin-left:min(1vw, 10px);
  border-radius: 20px;
  margin: 20px;
  box-shadow: none;
  background-color: #E9F5F5;
}

.content{
  text-align:center;
  align-items: center;
}

.title-informacion{
  justify-content: left;
  margin-top: 26px;
  margin-left: 2px;
  margin-bottom: 20px;
  font-size: 24px;
  color: #054141;
}

.mi-titulo {
  font-size: 16px; 
  font-weight: 500; 
  margin-top: 10px;
  margin-left: 20px;
  color: #036262;
}

.mi-cuerpo {
  font-size: 14px;
  color: #036262;
}

::ng-deep .mat-dialog-container {
  border-radius: 20px !important;
  @include mat-elevation(20);
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 10px 0 10px 0 !important;
  border-bottom: 5px solid transparent;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end  {
  border-radius: 0 40px 40px 0 !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start {
  border-radius: 40px 0 0 40px !important;
  flex-grow: 1;
  max-width: 20px !important;
}