
  .mi-card {
    max-width: 1000px;
    text-align:center;
    align-items: center;
    border-radius: 20px;

  }
  .mi-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
  }

  .mi-form {
    width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

/* mat-card-actions{
  display: flex;
  flex-direction: column;
  align-items: center;
 }*/
 mat-card-title { text-align: center }

  mat-form-field {
    width: 90%;
  }
/*
  .mat-form-field-outline{
    border-radius: 60px !important;
}

  .mat-form-field-flex {
  border-radius: 60px !important;
}*/
/*
.mat-form-field-appearance-outline .mat-form-field-outline .mat-form-field-outline-start,
.mat-form-field-appearance-outline .mat-form-field-outline .mat-form-field-outline-end {
  border-radius: 4 !important;
}*/

//.mat-form-field-appearance-outline .mat-form-field-outline {
//  border-bottom-left-radius: 60px !important;
//@at-root}

  /* Border */
//.mat-form-field-appearance-outline .mat-form-field-outline {
//  border-radius:30px !important;
//  border-width:6px !important;
//}

  //.mi-input {
    
  //}

  .miX-boton{
    border-radius: 20px;
    line-height: 54px;
    width: 300px;
  }

  .mi-boton{
    border-radius: 20px !important;
    width: 250px;
    background-color: #F5F5F5F5;
    margin-bottom: 20px !important;
  }

  .mi-spacer{
    flex: 1 1 auto;
  }