<app-navbar-administrador paginaActual="usuarios"> </app-navbar-administrador>

<div class="mi-div">

    <mat-card class="mi-card">

        <mat-card-header>
            <!-- style="display: inline; float:center; text-align: center;" -->

            <button mat-icon-button matSuffix (click)="volver()">
                <mat-icon>arrow_back_ios</mat-icon>
            </button>

            <span class="mi-spacer"> </span>

            <mat-label style="font-size: 20px; padding-top: 10px; padding-right: 40px;">
                Información del usuario
            </mat-label>

            <span class="mi-spacer"> </span>


        </mat-card-header>
        <br />

        <mat-card-content>

            <form>

                <div class="mi-form">
                    <mat-form-field appearance="outline" class="mi-input">
                        <mat-label>Número de Cédula</mat-label>
                        <input matInput placeholder="Número de cédula del usuario" name="cedula"
                            [(ngModel)]="usuario.cedula" [formControl]="cedulaFC" required
                            [errorStateMatcher]="matcher">
                        <mat-error *ngIf="cedulaFC.invalid">{{getErrorMessage(cedulaFC, 'número de cédula para el
                            usuario')}}</mat-error>
                    </mat-form-field>
                    <br />

                    <mat-form-field appearance="outline">
                        <mat-label>Nombre</mat-label>
                        <input matInput placeholder="Nombre del usuario" name="nombre" [(ngModel)]="usuario.nombre"
                            [formControl]="nombreFC" required [errorStateMatcher]="matcher">
                        <mat-error *ngIf="nombreFC.invalid">{{getErrorMessage(nombreFC, 'nombre para el usuario')}}
                        </mat-error>
                    </mat-form-field>
                    <br />

                    <mat-form-field appearance="outline">
                        <mat-label>Primer Apellido</mat-label>
                        <input matInput placeholder="Primer apellido del usuario" name="primer_apellido"
                            [(ngModel)]="usuario.primer_apellido" [formControl]="primer_apellidoFC" required
                            [errorStateMatcher]="matcher">
                        <mat-error *ngIf="primer_apellidoFC.invalid">{{getErrorMessage(primer_apellidoFC, 'primer
                            apellido para el usuario')}}
                        </mat-error>
                    </mat-form-field>
                    <br />

                    <mat-form-field appearance="outline">
                        <mat-label>Segundo Apellido</mat-label>
                        <input matInput placeholder="Segundo apellido del usuario" name="segundo_apellido"
                            [(ngModel)]="usuario.segundo_apellido" [errorStateMatcher]="matcher">
                    </mat-form-field>
                    <br />

                    <mat-form-field appearance="outline">
                        <mat-label>Correo Electrónico</mat-label>
                        <input matInput placeholder="Correo electrónico del usuario" name="correo_electronico"
                            [(ngModel)]="usuario.correo_electronico" [formControl]="correo_electronicoFC" required
                            [errorStateMatcher]="matcher">
                        <mat-error *ngIf="correo_electronicoFC.invalid">{{getErrorMessage(correo_electronicoFC, 'correo
                            electrónico para el usuario')}}
                        </mat-error>

                    </mat-form-field>
                    <br />

                    <mat-form-field appearance="outline">
                        <mat-label>Rol de Usuario</mat-label>
                        <mat-select placeholder="Rol del usuario" name="rol" [(ngModel)]="usuario.rol"
                            [formControl]="rolFC" required [errorStateMatcher]="matcher">
                            <mat-option *ngFor="let rol_ of roles" [value]="rol_">
                                {{rol_}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="rolFC.invalid">{{getErrorMessage(rolFC, 'rol para el usuario')}}
                        </mat-error>
                    </mat-form-field>
                    <br />

                    <mat-form-field appearance="outline">
                        <mat-label>Contraseña</mat-label>
                        <input matInput placeholder="Contraseña del usuario" name="contrasenna"
                            [(ngModel)]="usuario.contrasenna" [formControl]="contrasennaFC"
                            [type]="esconder ? 'password' : 'text'" required [errorStateMatcher]="matcher">
                        <button mat-icon-button matSuffix (click)="esconder = !esconder">
                            <mat-icon>{{esconder ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="contrasennaFC.invalid">Debe ingresar una contraseña para
                            el usuario
                        </mat-error>
                    </mat-form-field>


                </div>
                <!-- <button mat-raised-button color="accent">Actualizar Información</button> -->

            </form>

        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button color="secondary" class="mi-boton" [disabled]="!formularioValido()"
                (click)="actualizarUsuario()">Actualizar información</button>

            <button mat-raised-button color="secondary" class="mi-boton" style="margin-left: 75px;"
                (click)="borrarUsuario()">Borrar usuario</button>
        </mat-card-actions>
    </mat-card>

</div>
<br />
<!--
<mat-card class="example-card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>-->