
  .mi-card {
    max-width: 1000px;
    text-align:center;
  }
  .mi-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
  }

  .mi-form {
    width: 600px;
    display: flex;
    flex-direction: column;
 }

 mat-card-title { text-align: center }