
@import '~@angular/material/theming';

.navbar-inicio {
    background-color:transparent;
    justify-content: flex-end;
    padding-right: 4.2vw;
    
}
.mat-button{
    border-radius: 20px;
    margin-left: 45px;
    width: 135px;
    line-height: 35px;
    color: #036262;
}

.mat-button:disabled{
    border-radius: 20px;
    background-color: #E9F5F5;
    color: #054141;
    @include mat-elevation(2);
  }


.mat-raised-button.mat-button-disabled {
  background-color: #E9F5F5;
  color: #036262;
}

.mi-navbar {
  justify-content: flex-start;  
  background-color: white;
  padding-top: 20px;
  margin-bottom: 20px;
}

