<p>
    <mat-toolbar color="Ecrft4g" class="navbar-inicio">

        <!--
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>

        <span class="example-spacer"></span>


        <mat-tab-group mat-align-tabs="center" color="primary">
            <mat-tab label="First"> </mat-tab>
            <mat-tab label="Second"></mat-tab>
            <mat-tab label="Third"></mat-tab>
        </mat-tab-group>-->

        <button mat-raised-button (click)="vistaUsuarios()" color="seefr3condary"
            [disabled]="paginaActual == 'usuarios'" style="margin-left: 20px;" class="mi-boton"> Usuarios
        </button>

        <button mat-raised-button (click)="vistaCitas()" color="secondary" [disabled]="paginaActual == 'citas'"
            style="margin-left: 20px;" class="mi-boton">
            Citas </button>
        <button mat-raised-button (click)="vistaExpedientes()" color="secondary"
            [disabled]="paginaActual == 'expedientes'" style="margin-left: 20px;" class="mi-boton">Pacientes</button>

        <span class="example-spacer"></span>

        <button mat-raised-button (click)="f()" color="secondary" [disabled]="paginaActual == 'xd'"
            style="margin-right: 20px;" class="mi-boton">Perfil</button>
        <button mat-raised-button (click)="f()" color="secondary" [disabled]="paginaActual == 'xd'"
            style="margin-right: 20px;" class="mi-boton">Cerrar
            sesión</button>


    </mat-toolbar>
</p>