
@import '~@angular/material/theming';

.mi-boton{
  border-radius: 20px !important;
  width: 120px;  
  box-shadow: none;
  color: #036262;
}

.mat-raised-button.mat-button-disabled {
  @include mat-elevation(2);
  background-color: #E9F5F5;
  color: #036262;
}

.mi-navbar {
  justify-content: flex-start;  
  background-color: white;
  padding-top: 20px;
  margin-bottom: 20px;
}

