<app-navbar-administrador paginaActual="expedientes"> </app-navbar-administrador>
<div class="contenedor-inicio-sesion" fxLayout="row">
    <div fxFlex=40% fxLayoutAlign="center center">
      <mat-card class="card-inicio-sesion mat-elevation-z6">
        <mat-card-header class="title-inicio-sesion">
          <mat-card-title class="title-inicio-sesion">Datos Personales</mat-card-title>
        </mat-card-header>
        <mat-card-content class="content-inicio-sesion">
          <form class="form-inicio-sesion">
            <mat-label class="subtitulos-info-personal">Información Básica</mat-label>
            <br><br>
            <mat-label class="subtitulos-atributo">Nombre: </mat-label>
            <mat-label>{{expediente.nombre +" "+ expediente.primer_apellido +" "+ expediente.segundo_apellido}}</mat-label>
            <br><br>
            <mat-label class="subtitulos-atributo">Fecha de Nacimiento: </mat-label>
            <mat-label>{{expediente.fecha_nacimiento}}</mat-label>
            <br><br>
            <mat-label class="subtitulos-atributo">Edad: </mat-label>
            <mat-label>{{edad}}</mat-label>
            <br><br>
            <mat-label class="subtitulos-atributo">Nacionalidad: </mat-label>
            <mat-label>{{expediente.nacionalidad}}</mat-label>
            <br><br>
            <mat-label class="subtitulos-atributo">Domicilio: </mat-label>
            <mat-label>{{expediente.domicilio_distrito +", "+ expediente.domicilio_canton +", "+ expediente.domicilio_provincia}}</mat-label>
            <br><br>
            <mat-label class="subtitulos-atributo">Identidad étnica-racial: </mat-label>
            <mat-label>{{expediente.identidad_etnica}}</mat-label>
            <br><br><br>
            <mat-label class="subtitulos-info-personal">Información de Contacto</mat-label>
            <br><br>
            <mat-label class="subtitulos-atributo">Correo electrónico: </mat-label>
            <mat-label>{{expediente.correo_electronico}} </mat-label>
            <br><br>
            <mat-label class="subtitulos-atributo">Número de teléfono: </mat-label>
            <mat-label>{{expediente.numero_telefono}}</mat-label>
        </form>
        </mat-card-content>
      </mat-card>
    </div>
    
    <div fxFlex=55%>

<div class="tab">
  <button mat-button  class="tablinks" [disabled]="tabActual==0" (click)="cambiarTab('Expediente' ,0)">Expedientes</button>
  <button mat-button [disabled]="tabActual==1" class="tablinks " (click)="cambiarTab('Historial',1)">Historial</button>
</div>
<div>
<mat-card id="Expediente" style="border-top-left-radius: 0px;"  class="tabcontent mat-elevation-z3">
  <mat-card-content class="expediente-info"  fxLayout = "row">
    <div class="familiar" fxFlex=48%>
      <mat-label class="subtitulos-info-personal">Personal</mat-label>
      <br><br>
      <mat-label class="subtitulos-atributo">Peso: </mat-label>
      <mat-label>57kg</mat-label>
      <br><br>
      <mat-label class="subtitulos-atributo">Estatura: </mat-label>
      <mat-label>1.57m</mat-label>
      <br><br>
      <mat-label class="subtitulos-atributo">IMC: </mat-label>
      <mat-label>28.3</mat-label>
      <br><br>
      <mat-label class="subtitulos-atributo">Actividad física: </mat-label>
      <mat-label>Sí</mat-label>
      <br><br>
      <mat-label class="subtitulos-atributo">Consumo de bebidas alcohólicas: </mat-label>
      <mat-label>No</mat-label>
      <br><br>
      <mat-label class="subtitulos-atributo">Fumador/a: </mat-label>
      <mat-label>No</mat-label>     
    </div>
    <div fxFlex=3% class="vl"></div>
    <div class="familiar" fxFlex=48%>
      <mat-label class="subtitulos-info-personal">Familiar</mat-label>
      <br><br>
      <mat-label class="subtitulos-atributo">Familiares con cáncer de melanoma </mat-label>
      <br><br>
      <mat-label>57kg</mat-label>
      <br><br>
      <mat-label class="subtitulos-atributo">Familiares con otro tipo de cáncer </mat-label>
      <br><br>
      <mat-label>1.57m</mat-label>
    </div>
  </mat-card-content>
</mat-card>

<mat-card id="Historial" style="border-top-left-radius: 0px;"  class="tabcontent mat-elevation-z3">
  <mat-card-content style="margin-top: 20px;" fxLayout = "row">
    
  </mat-card-content>
</mat-card>

      
        
  </div>
  </div>
</div>
