<app-navbar-inicio paginaActual="inicio-sesion"></app-navbar-inicio>
<div class="contenedor-inicio-sesion" fxLayout="row">
  <div fxFlex=55% fxLayoutAlign="center">
    <mat-card class="mat-elevation-z0 card-descripcion-logo" fxLayoutAlign="center left">
      <mat-card-content>
        <img width="600" src="http://melanomaitcr.pythonanywhere.com/files/Prodermis.svg">
        <br /><br /><br /><br />
        <mat-label style="color: #036262; font-weight: 700; font-size: 16px;"> Nuestro sistema gestor de citas,
          expedientes médicos y
          asistente de
          predicción de cáncer de piel
          tipo melanoma mediante imágenes</mat-label>
        <br><br>
        <mat-label style="color: #036262;  font-size: 16px; "> Visite la página web para gestionar su
          información y
          actividades médicas.</mat-label>
        <br>
        <mat-label style="color: #036262;  font-size: 16px; line-height: 40px;"> Haga uso de las herramientas de
          inteligencia
          artificial para predecir el
          padecimiento.
        </mat-label>
        <br>
        <mat-label style="color: #036262;  font-size: 16px;"> Descargue la aplicación móvil para revisar sus citas y
          enviar archivos a tu médico.
        </mat-label>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex=45% fxLayoutAlign="center center">
    <mat-card class="card-inicio-sesion" style="box-shadow: none; background-color: #E9F5F5;">
      <mat-card-header class="title-inicio-sesion">
        <mat-card-title class="title-inicio-sesion">¡Bienvenido al <br />Sistema Prodermis!</mat-card-title>
      </mat-card-header>
      <mat-card-content class="content-inicio-sesion">
        <form class="form-inicio-sesion">
          <br><br><br><br>
          <mat-form-field appearance="outline" class="field-inicio-sesion" style="color: #036262">
            <mat-label>Número de cédula</mat-label>
            <input matInput [errorStateMatcher]="matcher" placeholder="Ingrese su número de cédula" [(ngModel)]="cedula"
              name="cedula" [formControl]="cedulaFC" required>
            <mat-error *ngIf="cedulaFC.invalid">{{getErrorMessage(cedulaFC, ' número de cedula')}}
            </mat-error>
          </mat-form-field>
          <br><br>
          <mat-form-field appearance="outline" class="field-inicio-sesion" style="color: #036262">
            <mat-label>Contraseña</mat-label>
            <input matInput placeholder="Ingrese su contraseña" [type]="esconder ? 'password' : 'text'"
              name="contrasenna" [errorStateMatcher]="matcher" [(ngModel)]="contrasenna" [formControl]="contrasennaFC"
              required>
            <button mat-icon-button matSuffix (click)="esconder = !esconder">
              <mat-icon>{{esconder ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="contrasennaFC.invalid">{{getErrorMessage(contrasennaFC, 'a contraseña')}}
            </mat-error>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions class="actions-inicio-sesion">
        <button class="boton-inicio-sesion" color="secondary" style="transition: none;" (click)="verificarDatos()"
          mat-raised-button [disabled]="!inicioValido()">Iniciar sesión</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <img src="http://melanomaitcr.pythonanywhere.com/files/Inicio_Mancha.svg" width="300"
    style="position: absolute; bottom: 0;">
</div>