.contenedor-inicio-sesion{
  margin-top:20px;
}

.card-descripcion-logo{
  background-color:transparent;
  width: 15*2.54vw;
}

.logo{
  width: 15*2.56vw;
  height: 14vw;
}

.descripcion{
  padding-top: 20px;
  display:block;
  font-size: min(2vw, 20px);
  line-height: 22px;
  text-align:justify;
}

.card-inicio-sesion{
  width: 75%;
  margin-left:min(1vw, 10px);
  border-radius: 20px;
  
  margin-bottom: 15px;
}

.card-inicio-sesion .content-inicio-sesion{
  margin-left: 4vw;
  margin-right:  4vw;
}

.card-inicio-sesion .title-inicio-sesion{
  text-align:center;
  display:block;
  font-size: min(2.8vw, 48px);
//  font-family: 'Roboto';
  font-weight:700;
  font-style: normal;
  margin-top: 20px;
  line-height: 3vw;
}

.card-inicio-sesion .form-inicio-sesion{
  margin-top: 10vh;
}
 
.card-inicio-sesion .field-inicio-sesion{
  
  width: 100%;
  

}

.mat-form-field-appearance-outline .mat-form-field-outline{
  border-radius: 60px;
}

.card-inicio-sesion .actions-inicio-sesion{
  margin-left: 4vw;
  margin-right:4vw;
  margin-top: 10vh;
  margin-bottom: 20px;
}

.card-inicio-sesion .boton-inicio-sesion{
  border-radius: 20px;
  line-height: 54px;
  width: 100%;
}