<app-navbar-inicio paginaActual="inicio-sesion"></app-navbar-inicio>
<div class="contenedor-inicio-sesion" fxLayout="row">
  <div fxFlex=55% fxLayoutAlign="center">
    <mat-card class="mat-elevation-z0 card-descripcion-logo" fxLayoutAlign="center center">
      <mat-card-content>
        <img class="logo" src="assets/images/Praesidia.png">
        <mat-label class="descripcion">Nuestro sistema gestor de citas y expendientes médicos y asistente de predicción
          de cáncer de piel tipo melanoma mediante imágenes</mat-label>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex=45% fxLayoutAlign="center center">
    <mat-card class="card-inicio-sesion mat-elevation-z6">
      <mat-card-header>
        <mat-card-title class = "title-inicio-sesion">¡Bienvenido al Sistema Praesidia!</mat-card-title>
      </mat-card-header>
      <mat-card-content class="content-inicio-sesion">
        <form class="form-inicio-sesion">
          <mat-form-field appearance="outline" class="field-inicio-sesion">
            <mat-label>Número de cédula</mat-label>
            <input matInput [errorStateMatcher]="matcher" placeholder="Ingrese su número de cédula" [(ngModel)]="cedula"
              name="cedula" [formControl]="cedulaFC" required>
            <mat-error *ngIf="cedulaFC.invalid">{{getErrorMessage(cedulaFC, ' número de cedula')}}
            </mat-error>
          </mat-form-field>
          <br><br>
          <mat-form-field appearance="outline" class="field-inicio-sesion">
            <mat-label>Contraseña</mat-label>
            <input matInput placeholder="Ingrese su contraseña" [type]="esconder ? 'password' : 'text'"
              name="contrasenna" [errorStateMatcher]="matcher" [(ngModel)]="contrasenna" [formControl]="contrasennaFC"
              required>
            <button mat-icon-button matSuffix (click)="esconder = !esconder">
              <mat-icon>{{esconder ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="contrasennaFC.invalid">{{getErrorMessage(contrasennaFC, 'a contraseña')}}
            </mat-error>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions class="actions-inicio-sesion">
        <button class="boton-inicio-sesion" color="primary" style="transition: none;" (click)="verificarDatos()"
          mat-raised-button [disabled]="!inicioValido()">Ingresar al sistema</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>