@import '~@angular/material/theming';

.contenedor-inicio-sesion{
  margin-top:20px;
}

.card-descripcion-logo{
  background-color:transparent;
  width: 15*2.54vw;
}

.logo{
  width: 15*3vw;
}

.descripcion{
  padding-top: 20px;
  display:block;
  font-size: min(2vw, 20px);
  line-height: 22px;
  text-align:center;
  color: #AAAAAA !important;
}

.card-inicio-sesion{
  width: 75%;
  margin-left:min(1vw, 10px);
  border-radius: 20px;
  
  margin-bottom: 15px;
}

.card-inicio-sesion .content-inicio-sesion{
  margin-left: 4vw;
  margin-right:  4vw;
  
}

.card-inicio-sesion .title-inicio-sesion{
  text-align: center;
  display:block;
  font-size: min(2.8vw, 48px);
//  font-family: 'Roboto';
  font-weight:700;
  color: #4F4E4E;
  font-style: normal;
  margin-top: 20px;
  line-height: 3vw;
}


.card-inicio-sesion .form-inicio-sesion{
  margin-top: 10vh;
}
 
.card-inicio-sesion .field-inicio-sesion{
  
  width: 100%;
  

}

.card-inicio-sesion .actions-inicio-sesion{
  margin-left: 4vw;
  margin-right:4vw;
  margin-top: 10vh;
  margin-bottom: 20px;
}

.card-inicio-sesion .boton-inicio-sesion{
  border-radius: 40px;
  line-height: 50px;
  width: 100%;  background-color: #AAAAAA;
  color: white;
}



mat-form-field mat-label {
  margin-left: 20px !important;
}
mat-form-field input {
  padding-left: 10px;
} 
::ng-deep .mat-dialog-container {
  border-radius: 20px !important;
  @include mat-elevation(20);
}


::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
      padding: 10px 0 10px 0 !important;
      border-bottom: 5px solid transparent;
    }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end  {
    border-radius: 0 40px 40px 0 !important;
  }
//  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-gap  {
    //border-top-color: initial !important;
 // }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start {
    border-radius: 40px 0 0 40px !important;
    flex-grow: 1;
    max-width: 20px !important;
  }


  