
  .mi-card {
    max-width: 1000px;
    text-align:center;
  }
  .mi-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
  }

  .mi-form {
    width: 600px;
    display: flex;
    flex-direction: column;
 }
 .mi-boton{
  border-radius: 20px !important;
  width: 250px;
  margin-bottom: 20px !important;
}

 mat-card-title { text-align: center }