<div class="mi-div">

    <mat-card class="mi-card">

        <mat-card-header style="display: inline; float:center; text-align: center;">
            <mat-card-title>Registro de cita
            </mat-card-title>
        </mat-card-header>
        <br />

        <mat-card-content>

            <form>

                <div class="mi-form">
                    <mat-form-field appearance="outline">
                        <mat-label>Número de Cédula</mat-label>
                        <input matInput placeholder="Número de cédula del usuario" [(ngModel)]="cita.cedula_paciente" [formControl]="cedulaFC" name="cedula" (keyup)="obtenerDatosUsuario($event.target.value)" required>
                        <mat-error *ngIf="cedulaFC.invalid">{{getErrorMessage(cedulaFC, 'número de cédula para el usuario')}}</mat-error>
                    </mat-form-field>
                    <br />
                    <mat-form-field appearance="outline">
                        <mat-label>Nombre del usuario</mat-label>
                        <input matInput placeholder="Número del paciente" [(ngModel)]="nombre" name="nombre" disabled>
                    
                    </mat-form-field>
                    <br />
                   
                    <mat-form-field appearance="outline">
                        <mat-label>Medico</mat-label>
                        <mat-select placeholder="Medico" [(ngModel)]="medicoSeleccionado" name="medicoSeleccionado" required>
                            <mat-option *ngFor="let medico of medicos" [value]="medico">{{medico.nombre}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      
                      <br />
                    <mat-form-field appearance="outline">
                        <mat-label>Fecha</mat-label>
                        <input matInput [matDatepicker]="picker"  [(ngModel)]="cita.fecha_cita" [formControl]="fechaFC" name = "fecha" placeholder="dd/MM/yyyy" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="fechaFC.invalid">{{getErrorMessageDate(fechaFC, 'fecha')}}
                        </mat-error>
                    </mat-form-field>
                    
                    <br />
                    
                    <mat-form-field appearance="outline">
                        <mat-label>Hora</mat-label>
                        <input matInput type = "time" placeholder="Fecha de la cita"  name = "hora" required>
                    </mat-form-field>
                    

                </div>

            </form>

        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button color="primary">Registrar cita</button>
        </mat-card-actions>
        <br />
    </mat-card>

</div>
<br />
