<div class="mi-div">

    <mat-card class="mi-card">

        <mat-card-header>
            <mat-card-title>Usuarios del Sistema
            </mat-card-title>

            <mat-form-field appearance="outline">
                <mat-label>Correo Electrónico</mat-label>
                <input matInput placeholder="Correo electrónico del usuario" name="busqueda"
                    [(ngModel)]="dataVista.busqueda">

            </mat-form-field>

        </mat-card-header>
        <br />

        <mat-card-content>

            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 mi-table">

                <!-- Position Column -->
                <ng-container matColumnDef="consultar">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Consultar </th>
                    <td mat-cell *matCellDef="let usuario">
                        <button mat-icon-button color="primary" (click)="mostrarUsuario(usuario)">
                            <mat-icon>search</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <!-- Position Column -->
                <ng-container matColumnDef="cedula">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cédula </th>
                    <td mat-cell *matCellDef="let usuario"> {{usuario.cedula}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                    <td mat-cell *matCellDef="let usuario"> {{getNombre(usuario)}}
                    </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="rol">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rol </th>
                    <td mat-cell *matCellDef="let usuario"> {{rolExtendido(usuario.rol)}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="borrar">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="mi-icon-cell"> Borrar </th>
                    <td mat-cell *matCellDef="let usuario" class="mi-icon-cell">
                        <button mat-icon-button color="accent" (click)="borrarUsuario(usuario)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns" style="text-align:center;"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

        </mat-card-content>

        <mat-card-actions style="text-align:center;">
            <button mat-raised-button color="primary" (click)="registrarUsuario()">Agregar Usuario</button>
        </mat-card-actions>

    </mat-card>
</div>
<br />