<p>
    <mat-toolbar color="Ecrft4g" class="navbar-inicio">

        <button mat-raised-button (click)="vistaCitaRegistro()" color="secondary"
            [disabled]="paginaActual == 'cita-registro'" style="margin-left: 20px;" class="mi-boton">
            Citas </button>
        <button mat-raised-button (click)="vistaExpedienteRegistro()" color="secondary"
            [disabled]="paginaActual == 'expediente-registro'" style="margin-left: 20px;"
            class="mi-boton">Pacientes</button>

        <span class="example-spacer"></span>

        <button mat-raised-button color="secondary" style="margin-right: 20px;" class="mi-boton">Perfil</button>
        <button mat-raised-button (click)="cerrarSesion()" color="secondary" style="margin-right: 20px;"
            class="mi-boton">Cerrar
            sesión</button>


    </mat-toolbar>
</p>